# Installation path of the generated scripts
SCRIPTS_PATH="$DIR/devices"

# Device path to push to, using adb-$filename-push
ADBPUSHDIR=/sdcard
# PC path to save screenshots to, using adb-$filename-screenshot
if grep -q Microsoft /proc/version; then
    OS="Microsoft"
    SCREENSHOTDIR=/mnt/d/Pictures/Screenshots/adb
else
    OS="Linux"
    SCREENSHOTDIR=/media/Data/Pictures/Screenshots/adb
fi

# Use default filenames during generation (non-interactive mode),
# or ask for optional filename input (default mode) (y/N)
USE_DEFAULT_FILENAMES=n

# Don't always print device name when connecting
OUTPUT_DEVICE_NAME=y
